.main-index{
    h2{
        text-align: center;
        font-family: $font3;
        color: $color4;
        font-size: 50px;
        margin-top: 80px;
    }
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    padding-bottom: 25px;
    p{
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: $font3;
        font-size: smaller;
        color: $color4;
    }
    input{
        font-family: $font1;
        font-size: 15px;
    }
}

