//Paleta de colores
$color1: #9A8C98; 
$color2: #453e44;
$color3: #363852;
$color4: #C9ADA7;
$footer-iconos: #0D6EFD;
$boton-subir: #063882;
$colorshadow: #1C1C31;
$colorbody: #22223b;
$colorheader: #4A4E69;
$colorlinks: #f2e9e4c4;