@font-face {
    font-family: "Uni Sans";
    src: url("../resources/tipografia/Uni\ Sans\ Heavy.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

//Fonts
$font1: Bebas Neue;
$font2: Noto Sans JP;
$font3: Uni Sans;